.Main-Offering-Card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.Main-Offering-Card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%; /* Ensure the container takes full width */
}

.Main-Offering-Card-container > div {
    flex: 1 0 22%; /* Adjust the flex basis to fit more cards in a row */
    margin: 10px; /* Add margin for spacing between cards */
    min-width: 150px; /* Ensure a minimum width for responsiveness */
    max-width: 22%; /* Ensure the cards don't exceed the desired width */
    box-sizing: border-box;
}
